* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Fira Code';
}

body {
  width: 100%;
  height: 100vh;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
  width: 20rem;
  height: 3rem;
}

.form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid dodgerblue;
  font-family: inherit;
  font-size: inherit;
  color: #000;
  outline: none;
  padding: 1.25rem;
  background: none;
  border-radius: 7px;
}

.form label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: #fff;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: silver;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
